
@{
    ViewBag.Title = "PurchaseHistory";
}


<h3>Purchase History</h3>
@foreach (var art in ViewBag.PurchaseHistory)
{
    <div class="card card-size z-depth-3">
        <img class="cartImage" width="100" height="80" src="@art.Link" />
        <p>@art.ArtName</p>
    </div>
}

